div { 

  border : 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;

  *
}

p {
  background-color: #7fdbff;
}

.image-1-container {
  width : 50%;
  height: 100%;
  background-color: sandybrow;
}