/* PUT FLUID GRID CODE HERE */
.col {
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.col:last-of-type {
    padding-left: 0;
}

.col.one.thirds {
    width: 33.333%;
}

.col.two.thirds {
    width: 66.666%;
}

.row {
    margin: 0 20px;
}