<h1>Input Username & Password</h1>

<form action="<%= session_url %>" method="post">
  <label for="user_name">Username</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
  <br>
  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password"
  <br>

  <input type="submit" value="Log In">
</form>