
<h3 class="language-nav">
  
  <a>
    <span><strong>CSS</strong></span>
    <span>HTML</span>
    <span>Javascript</span>
    <span>Ruby</span>
  </a>
</h3>

<img src="/assets/AA_Times_Logo.png" alt="AA Logo" class = "logo"> 

<h1 class="masthead masthead-links">
  
  <li>
    Tuesday, October 18, 2016
  </li>
  <li>
    <button class="masthead-links">Today's Paper</button>
  </li>
  <li>
    <button class="masthead-links">Video</button>
  </li>

  <li id="highlight">
    <button >77°F</button>
  </li>
  <li id="highlight">
    <button>AAO +100%</button>
  </li>
  
</h1>

