/* PHASE 4: Footer */
.phase4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 900px;
  border: 1px solid #ccc;
  border-top: 0;
  justify-content: space-between;
  align-content: center;
}



.right {
  width: 200px;
  min-height: 50px;
  padding: 20px;
  padding-right: 19px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 620px;
  min-height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}